<div class="bg-[#E9EEF3]">
    <div class="h-[685px] w-full bg-gradient-to-b from-[#17272E] to-[#005274] ">
        <!-- barre de navigation -->
        <nav class="flex h-[70px] w-full justify-around content-center border-b-[1px] border-[#e9eef315]">
            <img ngSrc="logo.png" alt="logo" width="195" height="58" class="cursor-pointer hover:scale-[105%] duration-300">
            <img ngSrc="drop.svg" alt="drop" width="40.5" height="27" class="cursor-pointer hover:scale-[105%] duration-300">
        </nav>

        <div class="flex justify-center">
            <div class="h-[540px] mt-[75px]">
                <img ngSrc="imageHead.png" alt="logo" width="418" height="540">
            </div>
        </div>
    </div>
</div>